odd/tei_beeing_human.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:sch="http://purl.oclc.org/dsdl/schematron">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>TEI Beeing Human</title>
        <author>Tiago Sousa Garcia</author>
      </titleStmt>
      <publicationStmt>
        <publisher>TEI Consortium</publisher>
        <availability status="free">
          <licence target="http://creativecommons.org/licenses/by-sa/3.0/"> Distributed under a
            Creative Commons Attribution-ShareAlike 3.0 Unported License </licence>
          <licence target="http://www.opensource.org/licenses/BSD-2-Clause">
            <p>Copyright 2013 TEI Consortium.</p>
            <p>All rights reserved.</p>
            <p>Redistribution and use in source and binary forms, with or without modification, are
              permitted provided that the following conditions are met:</p>
            <list>
              <item>Redistributions of source code must retain the above copyright notice, this list
                of conditions and the following disclaimer.</item>
              <item>Redistributions in binary form must reproduce the above copyright notice, this
                list of conditions and the following disclaimer in the documentation and/or other
                materials provided with the distribution.</item>
            </list>
            <p>This software is provided by the copyright holders and contributors "as is" and any
              express or implied warranties, including, but not limited to, the implied warranties
              of merchantability and fitness for a particular purpose are disclaimed. In no event
              shall the copyright holder or contributors be liable for any direct, indirect,
              incidental, special, exemplary, or consequential damages (including, but not limited
              to, procurement of substitute goods or services; loss of use, data, or profits; or
              business interruption) however caused and on any theory of liability, whether in
              contract, strict liability, or tort (including negligence or otherwise) arising in any
              way out of the use of this software, even if advised of the possibility of such
              damage.</p>
          </licence>
          <p>TEI material can be licensed differently depending on the use you intend to make of it.
            Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is
            generally appropriate for usages which treat TEI content as data or documentation. The
            BSD-2 licence is generally appropriate for usage of TEI content in a software
            environment. For further information or clarification, please contact the <ref
              target="mailto:info@tei-c.org">TEI Consortium</ref>. </p>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>Created from scratch by James Cummings, but looking at previous tei_minimal and tei_bare
          exemplars by SPQR and LR.</p>
      </sourceDesc>
    </fileDesc>
    <encodingDesc>
      <appInfo>
        <application ident="RomaJS" version="1.0.0" when="2023-08-11T09:14:24.451Z">
          <desc>File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref>
          </desc>
        </application>
      </appInfo>
      <appInfo>
        <application ident="RomaJS" version="1.0.0" when="2023-08-11T09:25:40.358Z">
          <desc>File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref>
          </desc>
        </application>
      </appInfo>
      <appInfo>
        <application ident="RomaJS" version="1.0.0" when="2023-08-11T09:39:14.401Z">
          <desc>File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref>
          </desc>
        </application>
      </appInfo>
      <appInfo>
        <application ident="RomaJS" version="1.0.0" when="2023-08-11T09:45:42.077Z">
          <desc>File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref>
          </desc>
        </application>
      </appInfo>
      <appInfo>
        <application ident="RomaJS" version="1.0.0" when="2023-08-21T10:53:58.009Z">
          <desc>File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref>
          </desc>
        </application>
      </appInfo>
      <appInfo>
        <application ident="RomaJS" version="1.0.0" when="2023-08-22T10:17:05.246Z">
          <desc>File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref>
          </desc>
        </application>
      </appInfo>
      <appInfo>
        <application ident="RomaJS" version="1.0.0" when="2023-08-23T08:14:31.499Z">
          <desc>File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref>
          </desc>
        </application>
      </appInfo>
      <appInfo>
        <application ident="RomaJS" version="1.0.0" when="2023-08-30T10:03:59.379Z">
          <desc>File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref>
          </desc>
        </application>
      </appInfo>
      <appInfo>
        <application ident="RomaJS" version="1.0.0" when="2023-08-30T10:53:14.663Z">
          <desc>File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref>
          </desc>
        </application>
      </appInfo>
      <appInfo>
        <application ident="RomaJS" version="1.0.0" when="2023-09-01T10:10:14.800Z">
          <desc>File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref>
          </desc>
        </application>
      </appInfo>
      <appInfo>
        <application ident="RomaJS" version="1.0.0" when="2023-09-01T10:19:25.835Z">
          <desc>File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref>
          </desc>
        </application>
      </appInfo>
      <appInfo>
        <application ident="RomaJS" version="1.0.0" when="2023-09-19T10:05:59.384Z">
          <desc>File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref></desc>
        </application>
      </appInfo>
    </encodingDesc>
  </teiHeader>
  <text>
    <front>
      <divGen type="toc"/>
    </front>
    <body>
      <div xml:id="intro">
        <head>Introduction</head>
        <p>This document sets out the <ref target="#transcPrinc">Transcription Principles</ref> and
          the <ref target="#encGuid">Encoding Guidelines</ref> for the digital edition of
              <bibl><author>Charles Butler</author>'s <date>1623</date>
            <title>The Feminine Monarchie or The Historie of Bees</title></bibl>.</p>
        <p>The document presents both the rationale for, and the method of, encoding specific
          textual phenomena in <name>Butler</name>'s work, including examples where appropriate. It
          also explains the basic <ref target="#encTextStruct">textual structure</ref> (and its
          respective encoding), as well as a list of all TEI elements used and refined for the
          encoding. Textual structures and phenomena not mentioned in this document are
            <emph>not</emph> encoded in any form -- the rationale for this being set out in the
          introductions to the <ref target="#transcPrinc">Transcription Principles</ref> and <ref
            target="#encGuid">Encoding Guidelines</ref>.</p>
        <p>During the duration of the project, this document is subject to changes and will reflect
          the latest principles and encoding guidelines.</p>
        <p>This document (and accompanying customisation) were written by <name>Tiago Sousa
            Garcia</name> in consultation with <name>Jennifer Richards</name> (the project's
          Principal Investigator) and <name>Olivia Smith</name>, with advice from <name>James
            Cummings.</name></p>
      </div>
      <div xml:id="transcPrinc">
        <head>Transcription Principles</head>
        <p><bibl><author>Butler</author>'s <title>Feminine Monarchie</title></bibl> was first
          transcribed into a plain text file with custom <term>markup</term> to identify any
          presentation feature of the original text (for example italics, notes, titles, running
          headers, catchwords, etc.) by <name>Olivia Smith</name>. Those features were then
          transformed using a simple <ident>Python</ident> script into basic <ident>TEI</ident> by
            <name>Tiago Sousa Garcia</name>, who created the first draft of the encoding, adding
          textual structure, detail, and differentiation manually.</p>
        <p>A few transcription principles were agreed at this time and are, therefore not encoded.
          These are:</p>
        <list>
          <item><emph>Folio references were preserved</emph> (see <ref target="#">ADD</ref> for
            their encoding). If a word is split across two pages, like 'Tho-' and 'mas', the
            hypenation was also recorded.</item>
          <item><emph>i/j and u/v</emph> were silently modernised.</item>
          <item><emph>Long 's', double long 's', double 'v' ('vv')</emph> were silently
            modernised.</item>
          <item><emph>Diagraphs</emph> were silently modernised, so oeconomical not œconomical;
            Aeneas not Æneas.</item>
          <item><emph>'then'</emph> was silently modernised to 'than' when 'than' is meant.</item>
          <item><emph>Thorns</emph> that stand for 'th' have been modernised: i.e., 'y<hi
              rend="superscript">e</hi>' to 'the'; 'y<hi rend="superscript">t</hi>' to 'that'; 'y<hi
              rend="superscript">r</hi>' to 'there'</item>
          <item><emph>Diacritics</emph> (accents above words) have been preserved.</item>
          <item><emph>Ligatures</emph> ('pre', 'pro', 'per') <emph>macrons</emph> (for m, n) as well
            as other common abbreviations ('w<hi rend="superscript">th</hi>', 'w<hi
              rend="superscript">ch</hi>') have been silently expanded.</item>
          <item><emph>Hyphenation</emph> has been retained in all cases except when it occurs in a
            word broken apart by the end of a line, i.e., 'ob-<tag>lb/</tag>jected' has been
            transcribed as 'objected'.</item>
          <item>Where meaning was obscured, <emph>missing letters</emph> were silently added (i.e.,
            'to' becomes 'too', 'of' becomes 'off' where relevant).</item>
          <item>Ampersands were always retained, although they have been transcribed using their
              <ident>HTML</ident> entity code (<code lang="html">&amp; amp ;</code> without spaces
            to avoid processing errors.</item>
          <item><emph>Punctuation</emph> was retained.</item>
          <item><emph>Full stops before and after numerals</emph> were retained ('the .2. of
            May').</item>
          <item><emph>In all cases not mentioned on this list</emph>, the original spelling was
            retained.</item>
          <item><emph>Large and small caps</emph> were retained, with the exception of the first
            character following a decorated capital, i.e., '<tag>hi
              rend='drop-capital'</tag>N<tag>hi/</tag>Octem' becomes '<tag>hi
              rend='drop-capital'</tag>N<tag>hi/</tag>octem'.</item>
        </list>
      </div>
      <div xml:id="encGuid">
        <head>Encoding Guidelines</head>
        <p>This section sets out the basic proceadures followed in the encoding of the text. It
          covers the <ref target="#encMeta">Metadata</ref> and <ref target="#encTextStruct">Textual
            Structure</ref> in broad strokes, and specific <ref target="#encTextPhen">Textual
            Phenomena</ref> in more detail. For the most part, our encoding follows the basic TEI
          Guidelines so this guide will only cover where the customisation deviates from the
          Guidelines, or how to encode specific structures that reocurr in the text often.</p>
        <div xml:id="encMeta">
          <head>Metadata</head>
          <p>Metadata about both the digital edition and the source text are encoded in the
              <tag>teiHeader</tag>, as per the guidelines. The <tag>teiHeader</tag> includes data
            specifically about the project, including <tag>funder</tag> information, about the
            project team responsibilities (<tag>editionStmt</tag>), licensing and bibliographic
            information about the source text. It also includes a summary revision history (in
              <tag>listChange</tag>) that deserves further attention.</p>
          <div xml:id="encMetaChange">
            <head>Recording changes in the encoding.</head>
            <p>The most mutable portion of the <tag>teiHeader</tag> is the <tag>revisionDesc</tag>.
              This collects information about any changes made to the file, including the date,
              responsibility and brief description of that change, serving both as a history of the
              evolution of the file and a sanity check during the encoding. Everytime the file is
              changed (or any time a batch of small changes are made), a <tag>change</tag> element
              should be added to the <emph>top</emph> of the <tag>listChange</tag>. The
                <tag>change</tag>
              <emph>must</emph> have a <att>who</att> (with your initials), a <att>when</att> with
              the date in ISO format (YYYY-MM-DD) and contain a brief description of your change,
              indicating if possible it's location on the text (for example: 'corrected a small
              transcription mistake in #ch1p1').</p>
            <label>Example:</label>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <revisionDesc>
                <listChange>
                  <change who="TSG" when="2023-09-14">Added targets to index</change> ... <change
                    who="TSG" when="2023-09-01">Initial encoding</change>
                </listChange>
              </revisionDesc>
            </egXML>
          </div>
        </div>
        <div xml:id="encTextStruct">
          <head>Textual Structure</head>
          <p>The encoded text follows (as it should) the textual structure of the source document.
            The highest level divisions present are encoded in <tag>front</tag>, <tag>body</tag> and
              <tag>back</tag> elements, corresponding to the paratextual elements before the text,
            the body of the text, and the paratextual elements after the text. Each of these
            elements contains further subdivisions, namely:</p>
          <list type="gloss">
            <label><tag>front</tag></label>
            <item>Contains <tag>titlePage</tag>, preface (<tag>div type="preface"</tag>),
              dedications (<tag>div type="dedication"</tag>), and table of contents (<tag>div
                type="contents"</tag>).</item>
            <label><tag>body</tag></label>
            <item>Contains divisions for chapters (<tag>div type="chapter"</tag>) and forme work
              that might appear outside of chapter divisions (ornaments, signatures, catchwords,
              running headers). Chapter division, may also contain further subdivisions (namely in
              chapter 10) which are further encoded using <tag>div type="section"</tag>. All
              chapters contain side notes that give a summary of a paragraph or a portion of text
              however these are not clear cut sections and have not been reflected in the textual
              structure, instead being marked up with a special <tag>note</tag> element.</item>
            <label><tag>back</tag></label>
            <item>Contains only a small biblical quotation and closing header encapsulated by a
                <tag>trailer</tag>.</item>
          </list>
        </div>
        <div xml:id="encTextPhen">
          <head>Textual Phenomena</head>
          <p>What follows is a guide on how to encode the textual phenomena found in the text, in an
            order roughly equivalent to their first appearance. Excluded from this section are the
            guidelines related to the <tag>teiHeader</tag> and Textual Structure as these have been
            covered above and are unlikely to be redrawn for most of the project.</p>
          <div xml:id="encFront">
            <head>Front Matter</head>
            <p>Phenomena in the front matter should be encoded following the same principles as the
              rest of the text, the exception being the presence of a few unique elements:</p>
            <list type="gloss">
              <label><tag>titlePage</tag></label>
              <item>Contains the encoding of the title page with its corresponding specific
                elements: <tag>docTitle</tag> that encapsulates all parts of the title,
                  <tag>byline</tag>, <tag>epigraph</tag>, and <tag>docImprint</tag>. Line breaks in
                the title have been preserved using <tag>lb/</tag>.</item>
              <label><tag>signed</tag></label>
              <item>Which encodes the name of authors in the preface and dedications</item>
              <label>Table of Contents</label>
              <item>Organised into <tag>list</tag>and <tag>item</tag> each containing a
                  <tag>ptr</tag> with a <att>target</att> attribute of the corresponding
                  <att>xml:id</att>. For example: <egXML xmlns="http://www.tei-c.org/ns/Examples">
                  <item>1 <hi rend="italic">Bees yeeld great profit with small cost.</hi>
                    <ptr target="#ch1sumn1"/></item>
                </egXML></item>
            </list>
          </div>
          <div xml:id="encPb">
            <head>Physical pages</head>
            <p>The start of a new page should be marked with an <tag>pb/</tag> element and an
                <att>n</att> attribute containing the printed (or deduced) signtaure.</p>
            <label>Example:</label>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <pb n="¶2r"/>
              <!-- what follows is the content of ¶2r (the title page) -->
            </egXML>
            <p>These can later be linked to a facsimile of the corresponding page with a
                <tag>url</tag> attribute pointing to an appropriate URL or local image.</p>
          </div>
          <div>
            <head xml:id="encFw">Running headers, catch-words, and other forme work</head>
            <p>Any graphical or textual element that appears on the page but is not part of the body
              of the text should be recorded as forme work using the element <tag>fw</tag>, with a
              further <att>type</att> attribute to differentiate it. The most common are:</p>
            <list>
              <label>Running headers</label>
              <item>Running headers should have a <att>type</att> with the value of
                  <val>header</val> and contain its transcription, according to the principles in
                place for the main body of the text. <label>Example:</label>
                <egXML xmlns="http://www.tei-c.org/ns/Examples">
                  <fw type="header">The Preface to the Reader.</fw>
                </egXML>
                <p>Although running headers are not empty, they are a milestone element and can,
                  therefore, appear within larger structures like a paragraph (<tag>p</tag>), or a
                    <tag>note</tag>, as in this example:</p>
                <egXML xmlns="http://www.tei-c.org/ns/Examples">
                  <note type="authorial" subtype="gloss" place="inline" xml:id="ch3glon6">* In the
                    Winter, place the Belt below the middle or biggest part of the Hive, to keepe it
                    warme in extremity of cold. In Summer above, that the nether part of the hackle
                    hanging out from the Hive, the Hive may be the cooler: and then because the Belt
                    will be apt to rise, it would be held <fw type="catch"> downe</fw>
                    <pb n="F3v"/>
                    <fw type="header">
                      <hi>Of the Hives,</hi>
                    </fw> downe to the place with two forked stickes, the fork resting upon the
                    Belt, and the other end under the Cap.</note>
                </egXML>
              </item>
              <label>Catchwords</label>
              <item>Catchwords should have a <att>type</att> attribute with the value of
                  <val>catch</val>, and contain its transcription according to the general
                transcription principles (with the exception that any hyphenation is preserved).
                  <label>Example:</label>
                <egXML xmlns="http://www.tei-c.org/ns/Examples"> fruit of the little Bee is so great
                  and wonderfull, so comely for order and <fw type="catch"> beauty,</fw>
                  <pb n="¶3v"/>
                </egXML>
                <p>Catchwords, <tag>pb/</tag> and running headers almost always appear one after the
                  other, so if they don't, please make sure this is not a transcription error. Like
                  running headers, catchwords are not empty but should be treated as a milestone
                  element and can, therefore, appear within larger structures like a paragraph
                    (<tag>p</tag>) or <tag>note</tag></p>
              </item>
              <label>Horizontal rule</label>
              <item><p>These graphical divisions are fairly rare and appear mostly in the title
                  page. They do not indicate any significant textual structure that is not already
                  declared elsewhere. They should be recorded merely as forme work with a
                    <att>type</att> of <val>horizontalRule</val>.</p>
                <label>Example:</label>
                <egXML xmlns="http://www.tei-c.org/ns/Examples">
                  <docTitle> ... </docTitle>
                  <fw type="horizontalRule"/>
                  <byline>Written out of Experience<lb/> ... </byline>
                </egXML>
              </item>
              <label>Ornaments and printer's devices</label>
              <item>Ornaments and printers devices that do not carry any semantic meaning should
                also be recorded as forme work, with a <att>type</att> attribute of
                  <val>ornament</val>. An image of each ornament can later be added to the element
                with a <tag>url</tag> attribute. <label>Example:</label>
                <egXML xmlns="http://www.tei-c.org/ns/Examples">
                  <fw type="ornament"/>
                </egXML>
              </item>
              <label>Signatures</label>
              <item>Signatures <emph>should not</emph> be recorded as forme work as they are already
                encoded by <ptr target="#encPb"/></item>
            </list>
          </div>
          <div xml:id="encHead">
            <head>Headings</head>
            <p>Headings are encoded with a <tag>head</tag> and should only follow divisions in
              textual structure (<tag>div</tag>). They should be further differentiated by a
                <att>type</att> attribute with the appropriate value. There are exceptions to this
              rule in the front matter, but generally a heading should fall into one one of three
              types:</p>
            <list>
              <label>Chapter Number and Chapter Title</label>
              <item>Chapter number encodes the numeric heading of the chapter, and is immediately
                followed by the Chapter Title. Each of these headings contains its respective
                transcription. <label>Example: </label>
                <egXML xmlns="http://www.tei-c.org/ns/Examples">
                  <div type="chapter" n="1" xml:id="ch1">
                    <head type="chapter-number">CHAP. I.</head>
                    <head type="chapter-title" rend="italic"> Of the Nature and properties of Bees,
                      and of their Queene. </head> ... </div>
                </egXML>
              </item>
              <label>Section Title</label>
              <item>Section headings occur only in the tenth chapter, and contain the section title
                as it appears in the source text. <label>Example: </label>
                <egXML xmlns="http://www.tei-c.org/ns/Examples">
                  <div type="section" n="1" xml:id="ch10p1">
                    <head type="section-title">The first part of this Chapter sheweth the taking of
                      the Combes.</head> ... </div>
                </egXML>
              </item>
            </list>
          </div>
          <div xml:id="encNotes">
            <head>Notes</head>
            <p>Something</p>
          </div>
          <div xml:id="encFig">
            <head>Figures and Diagrams</head>
            <p>Something</p>
          </div>
        </div>
      </div>
      <div>
        <schemaSpec ident="tei_beeing_human" start="TEI" prefix="tei_" targetLang="en" docLang="en">

          <!-- required minimal header elements -->
          <moduleRef key="header"
            include="teiHeader fileDesc titleStmt publicationStmt sourceDesc principal funder editionStmt edition authority licence revisionDesc listChange change"/>

          <!-- required core elements (p and title for use in titleStmt) -->
          <moduleRef key="core"
            include="p title date note biblStruct bibl ref abbr list item foreign q quote graphic head pb respStmt author name resp pubPlace imprint publisher monogr hi cit lb term gloss lg l ptr cb emph"/>

          <!-- required textstructure elements (TEI, text, and body) -->
          <moduleRef key="textstructure"
            include="TEI text body div front titlePage titlePart epigraph byline imprimatur docImprint docTitle signed back trailer"/>

          <!-- required module tei instantiates lots of classes used for further expansion of this odd -->
          <moduleRef key="tei"/>


          <moduleRef key="transcr" include="fw"/>
          <moduleRef key="namesdates" include="persName placeName orgName"/>
          <moduleRef key="analysis" include="w s"/>
          <moduleRef key="figures" include="figure figDesc"/>
          <elementSpec ident="date" mode="change">
            <desc versionDate="2023-08-11" xml:lang="en">contains a date in any format. It must
              include a @when attribute with the date in the standard format yyyy-mm-dd. If there
              isn't enough information, record at least the year, leaving the remaining month and
              day out.</desc>
            <attList>
              <attDef ident="when" mode="change" usage="req">
                <desc versionDate="2023-08-11" xml:lang="en">supplies the value of the date or time
                  in a standard form, e.g. yyyy-mm-dd. When only the year is known, use e.g. yyyy
                  not including month and year.</desc>
              </attDef>
            </attList>
          </elementSpec>
          <elementSpec ident="fw" mode="change">
            <desc versionDate="2023-08-22" xml:lang="en">contains a running head (e.g. a header,
              footer), catchword, or similar material appearing on the current page, including other
              graphical forme elements like horizontal lines (identified using the <att>type</att>
              attribute).</desc>
            <attList>
              <attDef ident="type" mode="change" usage="req">
                <valList type="closed" mode="change">
                  <valItem mode="add" ident="horizontalRule">
                    <desc versionDate="2023-08-22" xml:lang="en">A graphical horizontal rule used to
                      visually demarcate the page.</desc>
                  </valItem>
                  <valItem mode="add" ident="ornament">
                    <desc versionDate="2023-08-22" xml:lang="en">A printer's ornament -- later might
                      be replaced by <gi>figure</gi> with a graphical representation.</desc>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          <elementSpec ident="note" mode="change">
            <desc versionDate="2023-08-11" xml:lang="en">contains a note or annotation, either
              included in the original, or added by the editor. The types of notes are distinguished
              by a @type attribute, with further subtyping with the @subtype attribute. If it is a
              side-note, this should be noted with a @place attribute of "margin". Also used to mark
              up words and passages that have been transcribed with low certainty or might require
              double-checking.</desc>
            <constraintSpec ident="bibliographic-note-must-contain" scheme="schematron">
              <constraint>
                <sch:report
                  test="@subtype='bibliographic' and count(descendant::tei:ref|descendant::tei:bibl)=0"
                  role="error">A bibliographic note must contain at least one bibl or ref
                  element</sch:report>
              </constraint>
            </constraintSpec>
            <attList>
              <attDef ident="type" mode="change" usage="req">
                <valList type="closed" mode="change">
                  <valItem mode="add" ident="authorial">
                    <desc versionDate="2023-08-11" xml:lang="en">Notes originating from the copy
                      text, probably authorial.</desc>
                  </valItem>
                  <valItem mode="add" ident="editorial">
                    <desc versionDate="2023-08-11" xml:lang="en">Notes added by the editor, glosses,
                      bibliographic, etc.</desc>
                  </valItem>
                </valList>
              </attDef>
              <attDef ident="subtype" mode="change" usage="req">
                <valList type="closed" mode="change">
                  <valItem mode="add" ident="summary">
                    <desc versionDate="2023-08-11" xml:lang="en">Contains a summary of a related
                      paragraph or textual passage.</desc>
                  </valItem>
                  <valItem mode="add" ident="bibliographic">
                    <desc versionDate="2023-08-11" xml:lang="en">Contains bibliographic information
                      on a related paragraph or textual passage.</desc>
                  </valItem>
                  <valItem mode="add" ident="gloss">
                    <desc versionDate="2023-08-11" xml:lang="en">Contains a gloss on a related
                      paragraph or textual passage.</desc>
                  </valItem>
                  <valItem mode="add" ident="other">
                    <desc versionDate="2023-08-11" xml:lang="en">Other types of note, not yet
                      defined.</desc>
                  </valItem>
                  <valItem mode="add" ident="certainty">
                    <desc versionDate="2023-08-11" xml:lang="en">Marks the passage as being an
                      uncertain transcription. Use @cert to add more detail.</desc>
                  </valItem>
                </valList>
              </attDef>
              <attDef ident="cert" mode="change">
                <valList type="closed" mode="change">
                  <valItem mode="add" ident="low"/>
                  <valItem mode="add" ident="medium"/>
                  <valItem mode="add" ident="high"/>
                  <valItem mode="add" ident="check">
                    <desc versionDate="2023-08-11" xml:lang="en">Marks this passage as requiring
                      double-checking. If a positive conclusion can be achieved, the note may be
                      removed.</desc>
                  </valItem>
                </valList>
              </attDef>
              <attDef ident="xml:id" mode="change" usage="req"/>
            </attList>
          </elementSpec>
          <elementSpec ident="w" mode="change">
            <desc versionDate="2023-08-11" xml:lang="en">represents a grammatical (not necessarily
              orthographic) word -- used to mark words of special meaning and interest.</desc>
            <attList>
              <attDef ident="ana" mode="change" usage="rec">
                <desc versionDate="2023-08-11" xml:lang="en">indicates one or more elements
                  containing interpretations of the element on which the <att>ana</att> attribute
                  appears. Identifies this word as a reference to bees, sound, voice, emotion, or
                  music. To identify references use @ana with the corresponding value.</desc>
                <valList type="semi" mode="change">
                  <valItem mode="add" ident="bee">
                    <desc versionDate="2023-08-11" xml:lang="en">Identifies this word as a reference
                      to bees, the animal.</desc>
                  </valItem>
                  <valItem mode="add" ident="sound">
                    <desc versionDate="2023-08-11" xml:lang="en">Identifies this word as a reference
                      to sound.</desc>
                  </valItem>
                  <valItem mode="add" ident="voice">
                    <desc versionDate="2023-08-11" xml:lang="en">Identifies this word as a reference
                      to voice.</desc>
                  </valItem>
                  <valItem mode="add" ident="emotion">
                    <desc versionDate="2023-08-11" xml:lang="en">Identifies this word as a reference
                      to emotion.</desc>
                  </valItem>
                  <valItem mode="add" ident="music">
                    <desc versionDate="2023-08-11" xml:lang="en">Identifies this word as a reference
                      to music.</desc>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          <elementSpec ident="s" mode="change">
            <desc versionDate="2023-08-11" xml:lang="en">contains a sentence-like division of a
              text. Used to identify phrasal references to bees, sound, voice, emotion, music with
              an @ana attribute.</desc>
            <attList>
              <attDef ident="ana" mode="change" usage="rec">
                <valList type="semi" mode="change">
                  <valItem mode="add" ident="bees"/>
                  <valItem mode="add" ident="voice"/>
                  <valItem mode="add" ident="sound"/>
                  <valItem mode="add" ident="music"/>
                  <valItem mode="add" ident="emotion"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          <elementSpec ident="foreign" mode="change">
            <content>
              <macroRef key="macro.paraContent"/>
            </content>
            <attList>
              <attDef ident="xml:lang" mode="change" usage="rec"/>
            </attList>
          </elementSpec>
          <classRef key="att.placement"/>
          <elementSpec ident="publicationStmt" mode="change">
            <content>
              <alternate maxOccurs="1" minOccurs="1">
                <sequence maxOccurs="unbounded" minOccurs="1">
                  <classRef key="model.publicationStmtPart.agency"/>
                  <classRef key="model.publicationStmtPart.detail"/>
                  <classRef key="model.availabilityPart"/>
                </sequence>
                <classRef key="model.pLike"/>
              </alternate>
            </content>
          </elementSpec>
          <classRef key="model.availabilityPart"/>
          <elementSpec ident="bibl" mode="change">
            <attList>
              <attDef ident="rend" mode="change">
                <desc versionDate="2023-08-22" xml:lang="en">indicates how the element in question
                  was rendered or presented in the source text. In the case of bibliographic
                  sidenotes, the reference is usually rendered with alphabetic characters in italic
                  script and numeric characters in round script. For this default presentation use
                  the value <val>italic</val>. </desc>
              </attDef>
            </attList>
          </elementSpec>
          <elementSpec ident="hi" mode="change">
            <desc versionDate="2023-08-22" xml:lang="en">marks a word or phrase as graphically
              distinct from the surrounding text, for reasons concerning which no claim is made.
              Avoid using this unless no other option is feasible.</desc>
            <constraintSpec ident="hi-sanity-check" scheme="schematron">
              <constraint>
                <sch:assert test="@rend" role="warning">Is 'hi' the best element to describe this?
                  If so, please provide rendering information with @rend.</sch:assert>
              </constraint>
            </constraintSpec>
            <attList>
              <attDef ident="rend" mode="change" usage="rec">
                <valList mode="change">
                  <valItem mode="add" ident="italic">
                    <desc versionDate="2023-08-22" xml:lang="en">Text appears in italic script on
                      the source.</desc>
                  </valItem>
                  <valItem mode="add" ident="smallCapitals">
                    <desc versionDate="2023-08-22" xml:lang="en">Text is rendered on the source as
                      small capitals.</desc>
                  </valItem>
                  <valItem mode="add" ident="opposite">
                    <desc versionDate="2023-08-22" xml:lang="en">Text is rendered in the opposite
                      script to the text surrounding it; i.e., if it appears within a round block,
                      it is rendered in italic; if it appears on an italic block, it is rendered in
                      round.</desc>
                  </valItem>
                  <valItem mode="add" ident="titleCase">
                    <desc versionDate="2023-08-22" xml:lang="en">Text is rendered on the source
                      using title case, i.e., "This Is Title Case"</desc>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          <elementSpec ident="cb" mode="change">
            <desc versionDate="2023-08-23" xml:lang="en">marks the beginning of a new column of a
              text on a multi-column page. The element should be placed at the start of the column,
              and it should contain an <att>n</att> indicating whether it is a left- (1) or
              right-hand(2) sided column</desc>
            <attList>
              <attDef ident="n" mode="change" usage="req">
                <valList type="closed" mode="change">
                  <valItem mode="add" ident="1">
                    <desc versionDate="2023-08-23" xml:lang="en">Left-hand side column</desc>
                  </valItem>
                  <valItem mode="add" ident="2">
                    <desc versionDate="2023-08-23" xml:lang="en">Right-hand side column</desc>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          <elementSpec ident="change" mode="change">
            <attList>
              <attDef ident="when" mode="change" usage="req"/>
              <attDef ident="who" mode="change" usage="req"/>
            </attList>
          </elementSpec>
          <elementSpec ident="ref" mode="change">
            <constraintSpec ident="ref-sanity-check" scheme="schematron">
              <constraint>
                <sch:report test="@target='#'" role="info">This 'ref' will need to point towards the
                  corresponding @xml:id</sch:report>
              </constraint>
            </constraintSpec>
            <attList>
              <attDef ident="target" mode="change" usage="req"/>
            </attList>
          </elementSpec>
        </schemaSpec>
      </div>
    </body>
  </text>
</TEI>
