odd/tei_beeing_human.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:sch="http://purl.oclc.org/dsdl/schematron">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>TEI Beeing Human</title>
        <author>Tiago Sousa Garcia</author>
      </titleStmt>
      <publicationStmt>
        <publisher>TEI Consortium</publisher>
        <availability status="free">
          <licence target="http://creativecommons.org/licenses/by-sa/3.0/"> Distributed under a
            Creative Commons Attribution-ShareAlike 3.0 Unported License </licence>
          <licence target="http://www.opensource.org/licenses/BSD-2-Clause">
            <p>Copyright 2013 TEI Consortium.</p>
            <p>All rights reserved.</p>
            <p>Redistribution and use in source and binary forms, with or without modification, are
              permitted provided that the following conditions are met:</p>
            <list>
              <item>Redistributions of source code must retain the above copyright notice, this list
                of conditions and the following disclaimer.</item>
              <item>Redistributions in binary form must reproduce the above copyright notice, this
                list of conditions and the following disclaimer in the documentation and/or other
                materials provided with the distribution.</item>
            </list>
            <p>This software is provided by the copyright holders and contributors "as is" and any
              express or implied warranties, including, but not limited to, the implied warranties
              of merchantability and fitness for a particular purpose are disclaimed. In no event
              shall the copyright holder or contributors be liable for any direct, indirect,
              incidental, special, exemplary, or consequential damages (including, but not limited
              to, procurement of substitute goods or services; loss of use, data, or profits; or
              business interruption) however caused and on any theory of liability, whether in
              contract, strict liability, or tort (including negligence or otherwise) arising in any
              way out of the use of this software, even if advised of the possibility of such
              damage.</p>
          </licence>
          <p>TEI material can be licensed differently depending on the use you intend to make of it.
            Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is
            generally appropriate for usages which treat TEI content as data or documentation. The
            BSD-2 licence is generally appropriate for usage of TEI content in a software
            environment. For further information or clarification, please contact the <ref
              target="mailto:info@tei-c.org">TEI Consortium</ref>. </p>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>Created from scratch by James Cummings, but looking at previous tei_minimal and tei_bare
          exemplars by SPQR and LR.</p>
      </sourceDesc>
    </fileDesc>
    <encodingDesc>
      <appInfo>
        <application ident="RomaJS" version="1.0.0" when="2023-08-11T09:14:24.451Z">
          <desc>File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref>
          </desc>
        </application>
      </appInfo>
      <appInfo>
        <application ident="RomaJS" version="1.0.0" when="2023-08-11T09:25:40.358Z">
          <desc>File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref>
          </desc>
        </application>
      </appInfo>
      <appInfo>
        <application ident="RomaJS" version="1.0.0" when="2023-08-11T09:39:14.401Z">
          <desc>File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref>
          </desc>
        </application>
      </appInfo>
      <appInfo>
        <application ident="RomaJS" version="1.0.0" when="2023-08-11T09:45:42.077Z">
          <desc>File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref>
          </desc>
        </application>
      </appInfo>
      <appInfo>
        <application ident="RomaJS" version="1.0.0" when="2023-08-21T10:53:58.009Z">
          <desc>File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref>
          </desc>
        </application>
      </appInfo>
      <appInfo>
        <application ident="RomaJS" version="1.0.0" when="2023-08-22T10:17:05.246Z">
          <desc>File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref>
          </desc>
        </application>
      </appInfo>
      <appInfo>
        <application ident="RomaJS" version="1.0.0" when="2023-08-23T08:14:31.499Z">
          <desc>File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref>
          </desc>
        </application>
      </appInfo>
      <appInfo>
        <application ident="RomaJS" version="1.0.0" when="2023-08-30T10:03:59.379Z">
          <desc>File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref>
          </desc>
        </application>
      </appInfo>
      <appInfo>
        <application ident="RomaJS" version="1.0.0" when="2023-08-30T10:53:14.663Z">
          <desc>File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref>
          </desc>
        </application>
      </appInfo>
      <appInfo>
        <application ident="RomaJS" version="1.0.0" when="2023-09-01T10:10:14.800Z">
          <desc>File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref>
          </desc>
        </application>
      </appInfo>
      <appInfo>
        <application ident="RomaJS" version="1.0.0" when="2023-09-01T10:19:25.835Z">
          <desc>File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref>
          </desc>
        </application>
      </appInfo>
      <appInfo>
        <application ident="RomaJS" version="1.0.0" when="2023-09-19T10:05:59.384Z">
          <desc>File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref></desc>
        </application>
      </appInfo>
    </encodingDesc>
  </teiHeader>
  <text>
    <front>
      <divGen type="toc"/>
    </front>
    <body>
      <div xml:id="intro">
        <head>Introduction</head>
        <p>This document sets out the <ref target="#transcPrinc">Transcription Principles</ref> and
          the <ref target="#encGuid">Encoding Guidelines</ref> for the digital edition of
              <bibl><author>Charles Butler</author>'s <date>1623</date>
            <title>The Feminine Monarchie or The Historie of Bees</title></bibl>.</p>
        <p>The document presents both the rationale for, and the method of, encoding specific
          textual phenomena in <name>Butler</name>'s work, including examples where appropriate. It
          also explains the basic <ref target="#encTextStruct">textual structure</ref> (and its
          respective encoding), as well as a list of all TEI elements used and refined for the
          encoding. Textual structures and phenomena not mentioned in this document are
            <emph>not</emph> encoded in any form -- the rationale for this being set out in the
          introductions to the <ref target="#transcPrinc">Transcription Principles</ref> and <ref
            target="#encGuid">Encoding Guidelines</ref>.</p>
        <p>During the duration of the project, this document is subject to changes and will reflect
          the latest principles and encoding guidelines.</p>
        <p>This document (and accompanying customisation) were written by <name>Tiago Sousa
            Garcia</name> in consultation with <name>Jennifer Richards</name> (the project's
          Principal Investigator) and <name>Olivia Smith</name>, with advice from <name>James
            Cummings.</name></p>
      </div>
      <div xml:id="transcPrinc">
        <head>Transcription Principles</head>
        <p><bibl><author>Butler</author>'s <title>Feminine Monarchie</title></bibl> was first
          transcribed into a plain text file with custom <term>markup</term> to identify any
          presentation feature of the original text (for example italics, notes, titles, running
          headers, catchwords, etc.) by <name>Olivia Smith</name>. Those features were then
          transformed using a simple <ident>Python</ident> script into basic <ident>TEI</ident> by
            <name>Tiago Sousa Garcia</name>, who created the first draft of the encoding, adding
          textual structure, detail, and differentiation manually.</p>
        <p>A few transcription principles were agreed at this time and are, therefore not encoded.
          These are:</p>
        <list>
          <item><emph>Folio references were preserved</emph> (see <ref target="#">ADD</ref> for
            their encoding). If a word is split across two pages, like 'Tho-' and 'mas', the
            hypenation was also recorded.</item>
          <item><emph>i/j and u/v</emph> were silently modernised.</item>
          <item><emph>Long 's', double long 's', double 'v' ('vv')</emph> were silently
            modernised.</item>
          <item><emph>Diagraphs</emph> were silently modernised, so oeconomical not œconomical;
            Aeneas not Æneas.</item>
        </list>
      </div>
      <div xml:id="encGuid">
        <head>Encoding Guidelines</head>
        <div xml:id="encMeta">
          <head>Metadata</head>
          <p>Something</p>
        </div>
        <div xml:id="encTextStruct">
          <head>Textual Structure</head>
          <p>Something</p>
        </div>
        <div xml:id="encTextPhen">
          <head>Textual Phenomena</head>
          <p>Something</p>
          <div xml:id="encFront">
            <head>Front Matter</head>
            <p>Something</p>
          </div>
          <div xml:id="encNotes">
            <head>Notes</head>
            <p>Something</p>
          </div>
          <div xml:id="encFig">
            <head>Figures and Diagrams</head>
            <p>Something</p>
          </div>
        </div>
      </div>
      <div>
        <schemaSpec ident="tei_beeing_human" start="TEI" prefix="tei_" targetLang="en" docLang="en">

          <!-- required minimal header elements -->
          <moduleRef key="header"
            include="teiHeader fileDesc titleStmt publicationStmt sourceDesc principal funder editionStmt edition authority licence revisionDesc listChange change"/>

          <!-- required core elements (p and title for use in titleStmt) -->
          <moduleRef key="core"
            include="p title date note biblStruct bibl ref abbr list item foreign q quote graphic head pb respStmt author name resp pubPlace imprint publisher monogr hi cit lb term gloss lg l ptr cb emph"/>

          <!-- required textstructure elements (TEI, text, and body) -->
          <moduleRef key="textstructure"
            include="TEI text body div front titlePage titlePart epigraph byline imprimatur docImprint docTitle signed back trailer"/>

          <!-- required module tei instantiates lots of classes used for further expansion of this odd -->
          <moduleRef key="tei"/>


          <moduleRef key="transcr" include="fw"/>
          <moduleRef key="namesdates" include="persName placeName orgName"/>
          <moduleRef key="analysis" include="w s"/>
          <moduleRef key="figures" include="figure figDesc"/>
          <elementSpec ident="date" mode="change">
            <desc versionDate="2023-08-11" xml:lang="en">contains a date in any format. It must
              include a @when attribute with the date in the standard format yyyy-mm-dd. If there
              isn't enough information, record at least the year, leaving the remaining month and
              day out.</desc>
            <attList>
              <attDef ident="when" mode="change" usage="req">
                <desc versionDate="2023-08-11" xml:lang="en">supplies the value of the date or time
                  in a standard form, e.g. yyyy-mm-dd. When only the year is known, use e.g. yyyy
                  not including month and year.</desc>
              </attDef>
            </attList>
          </elementSpec>
          <elementSpec ident="fw" mode="change">
            <desc versionDate="2023-08-22" xml:lang="en">contains a running head (e.g. a header,
              footer), catchword, or similar material appearing on the current page, including other
              graphical forme elements like horizontal lines (identified using the <att>type</att>
              attribute).</desc>
            <attList>
              <attDef ident="type" mode="change" usage="req">
                <valList type="closed" mode="change">
                  <valItem mode="add" ident="horizontalRule">
                    <desc versionDate="2023-08-22" xml:lang="en">A graphical horizontal rule used to
                      visually demarcate the page.</desc>
                  </valItem>
                  <valItem mode="add" ident="ornament">
                    <desc versionDate="2023-08-22" xml:lang="en">A printer's ornament -- later might
                      be replaced by <gi>figure</gi> with a graphical representation.</desc>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          <elementSpec ident="note" mode="change">
            <desc versionDate="2023-08-11" xml:lang="en">contains a note or annotation, either
              included in the original, or added by the editor. The types of notes are distinguished
              by a @type attribute, with further subtyping with the @subtype attribute. If it is a
              side-note, this should be noted with a @place attribute of "margin". Also used to mark
              up words and passages that have been transcribed with low certainty or might require
              double-checking.</desc>
            <constraintSpec ident="bibliographic-note-must-contain" scheme="schematron">
              <constraint>
                <sch:report
                  test="@subtype='bibliographic' and count(descendant::tei:ref|descendant::tei:bibl)=0"
                  role="error">A bibliographic note must contain at least one bibl or ref
                  element</sch:report>
              </constraint>
            </constraintSpec>
            <attList>
              <attDef ident="type" mode="change" usage="req">
                <valList type="closed" mode="change">
                  <valItem mode="add" ident="authorial">
                    <desc versionDate="2023-08-11" xml:lang="en">Notes originating from the copy
                      text, probably authorial.</desc>
                  </valItem>
                  <valItem mode="add" ident="editorial">
                    <desc versionDate="2023-08-11" xml:lang="en">Notes added by the editor, glosses,
                      bibliographic, etc.</desc>
                  </valItem>
                </valList>
              </attDef>
              <attDef ident="subtype" mode="change" usage="req">
                <valList type="closed" mode="change">
                  <valItem mode="add" ident="summary">
                    <desc versionDate="2023-08-11" xml:lang="en">Contains a summary of a related
                      paragraph or textual passage.</desc>
                  </valItem>
                  <valItem mode="add" ident="bibliographic">
                    <desc versionDate="2023-08-11" xml:lang="en">Contains bibliographic information
                      on a related paragraph or textual passage.</desc>
                  </valItem>
                  <valItem mode="add" ident="gloss">
                    <desc versionDate="2023-08-11" xml:lang="en">Contains a gloss on a related
                      paragraph or textual passage.</desc>
                  </valItem>
                  <valItem mode="add" ident="other">
                    <desc versionDate="2023-08-11" xml:lang="en">Other types of note, not yet
                      defined.</desc>
                  </valItem>
                  <valItem mode="add" ident="certainty">
                    <desc versionDate="2023-08-11" xml:lang="en">Marks the passage as being an
                      uncertain transcription. Use @cert to add more detail.</desc>
                  </valItem>
                </valList>
              </attDef>
              <attDef ident="cert" mode="change">
                <valList type="closed" mode="change">
                  <valItem mode="add" ident="low"/>
                  <valItem mode="add" ident="medium"/>
                  <valItem mode="add" ident="high"/>
                  <valItem mode="add" ident="check">
                    <desc versionDate="2023-08-11" xml:lang="en">Marks this passage as requiring
                      double-checking. If a positive conclusion can be achieved, the note may be
                      removed.</desc>
                  </valItem>
                </valList>
              </attDef>
              <attDef ident="xml:id" mode="change" usage="req"/>
            </attList>
          </elementSpec>
          <elementSpec ident="w" mode="change">
            <desc versionDate="2023-08-11" xml:lang="en">represents a grammatical (not necessarily
              orthographic) word -- used to mark words of special meaning and interest.</desc>
            <attList>
              <attDef ident="ana" mode="change" usage="rec">
                <desc versionDate="2023-08-11" xml:lang="en">indicates one or more elements
                  containing interpretations of the element on which the <att>ana</att> attribute
                  appears. Identifies this word as a reference to bees, sound, voice, emotion, or
                  music. To identify references use @ana with the corresponding value.</desc>
                <valList type="semi" mode="change">
                  <valItem mode="add" ident="bee">
                    <desc versionDate="2023-08-11" xml:lang="en">Identifies this word as a reference
                      to bees, the animal.</desc>
                  </valItem>
                  <valItem mode="add" ident="sound">
                    <desc versionDate="2023-08-11" xml:lang="en">Identifies this word as a reference
                      to sound.</desc>
                  </valItem>
                  <valItem mode="add" ident="voice">
                    <desc versionDate="2023-08-11" xml:lang="en">Identifies this word as a reference
                      to voice.</desc>
                  </valItem>
                  <valItem mode="add" ident="emotion">
                    <desc versionDate="2023-08-11" xml:lang="en">Identifies this word as a reference
                      to emotion.</desc>
                  </valItem>
                  <valItem mode="add" ident="music">
                    <desc versionDate="2023-08-11" xml:lang="en">Identifies this word as a reference
                      to music.</desc>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          <elementSpec ident="s" mode="change">
            <desc versionDate="2023-08-11" xml:lang="en">contains a sentence-like division of a
              text. Used to identify phrasal references to bees, sound, voice, emotion, music with
              an @ana attribute.</desc>
            <attList>
              <attDef ident="ana" mode="change" usage="rec">
                <valList type="semi" mode="change">
                  <valItem mode="add" ident="bees"/>
                  <valItem mode="add" ident="voice"/>
                  <valItem mode="add" ident="sound"/>
                  <valItem mode="add" ident="music"/>
                  <valItem mode="add" ident="emotion"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          <elementSpec ident="foreign" mode="change">
            <content>
              <macroRef key="macro.paraContent"/>
            </content>
            <attList>
              <attDef ident="xml:lang" mode="change" usage="rec"/>
            </attList>
          </elementSpec>
          <classRef key="att.placement"/>
          <elementSpec ident="publicationStmt" mode="change">
            <content>
              <alternate maxOccurs="1" minOccurs="1">
                <sequence maxOccurs="unbounded" minOccurs="1">
                  <classRef key="model.publicationStmtPart.agency"/>
                  <classRef key="model.publicationStmtPart.detail"/>
                  <classRef key="model.availabilityPart"/>
                </sequence>
                <classRef key="model.pLike"/>
              </alternate>
            </content>
          </elementSpec>
          <classRef key="model.availabilityPart"/>
          <elementSpec ident="bibl" mode="change">
            <attList>
              <attDef ident="rend" mode="change">
                <desc versionDate="2023-08-22" xml:lang="en">indicates how the element in question
                  was rendered or presented in the source text. In the case of bibliographic
                  sidenotes, the reference is usually rendered with alphabetic characters in italic
                  script and numeric characters in round script. For this default presentation use
                  the value <val>italic</val>. </desc>
              </attDef>
            </attList>
          </elementSpec>
          <elementSpec ident="hi" mode="change">
            <desc versionDate="2023-08-22" xml:lang="en">marks a word or phrase as graphically
              distinct from the surrounding text, for reasons concerning which no claim is made.
              Avoid using this unless no other option is feasible.</desc>
            <constraintSpec ident="hi-sanity-check" scheme="schematron">
              <constraint>
                <sch:assert test="@rend" role="warning">Is 'hi' the best element to describe this?
                  If so, please provide rendering information with @rend.</sch:assert>
              </constraint>
            </constraintSpec>
            <attList>
              <attDef ident="rend" mode="change" usage="rec">
                <valList mode="change">
                  <valItem mode="add" ident="italic">
                    <desc versionDate="2023-08-22" xml:lang="en">Text appears in italic script on
                      the source.</desc>
                  </valItem>
                  <valItem mode="add" ident="smallCapitals">
                    <desc versionDate="2023-08-22" xml:lang="en">Text is rendered on the source as
                      small capitals.</desc>
                  </valItem>
                  <valItem mode="add" ident="opposite">
                    <desc versionDate="2023-08-22" xml:lang="en">Text is rendered in the opposite
                      script to the text surrounding it; i.e., if it appears within a round block,
                      it is rendered in italic; if it appears on an italic block, it is rendered in
                      round.</desc>
                  </valItem>
                  <valItem mode="add" ident="titleCase">
                    <desc versionDate="2023-08-22" xml:lang="en">Text is rendered on the source
                      using title case, i.e., "This Is Title Case"</desc>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          <elementSpec ident="cb" mode="change">
            <desc versionDate="2023-08-23" xml:lang="en">marks the beginning of a new column of a
              text on a multi-column page. The element should be placed at the start of the column,
              and it should contain an <att>n</att> indicating whether it is a left- (1) or
              right-hand(2) sided column</desc>
            <attList>
              <attDef ident="n" mode="change" usage="req">
                <valList type="closed" mode="change">
                  <valItem mode="add" ident="1">
                    <desc versionDate="2023-08-23" xml:lang="en">Left-hand side column</desc>
                  </valItem>
                  <valItem mode="add" ident="2">
                    <desc versionDate="2023-08-23" xml:lang="en">Right-hand side column</desc>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          <elementSpec ident="change" mode="change">
            <attList>
              <attDef ident="when" mode="change" usage="req"/>
              <attDef ident="who" mode="change" usage="req"/>
            </attList>
          </elementSpec>
          <elementSpec ident="ref" mode="change">
            <constraintSpec ident="ref-sanity-check" scheme="schematron">
              <constraint>
                <sch:report test="@target='#'" role="info">This 'ref' will need to point towards the
                  corresponding @xml:id</sch:report>
              </constraint>
            </constraintSpec>
            <attList>
              <attDef ident="target" mode="change" usage="req"/>
            </attList>
          </elementSpec>
        </schemaSpec>
      </div>
    </body>
  </text>
</TEI>
